* {
  box-sizing: border-box;
  margin: 0;
}
body {
  --mainPadding: 15px;
  text-transform: capitalize;
  --mainColor: #231942;
  --secoundColor: #eee;
  --fontColor: #cfbaf0;
  --mainMargin: 25px;
  font-family: "Tilt Prism", cursive, sans-serif;
}
.container {
  padding: 0 var(--mainPadding, 15px);
  margin: 0 auto;
}
@media (min-width: 762px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header {
  height: 60px;
  background-color: var(--mainColor, #231942);
  font-size: 20px;
  color: var(--fontColor, #cfbaf0);
}

main h2 {
  margin-top: var(--mainMargin);
  background-color: var(--fontColor);
  padding: var(--mainPadding);
  color: var(--mainColor);
  border-radius: 30px;
  text-align: center;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--mainMargin, 25px);
  margin-bottom: var(--mainMargin, 25px);
}
.info-container .info {
  background-color: var(--mainColor, #231942);
  padding: var(--mainPadding, 15px);
  color: var(--fontColor, #cfbaf0);
  border-radius: 35px;
  font-size: 16px;
}
.info-container .info h3:last-child {
  background-color: var(--fontColor, #cfbaf0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--mainColor, #231942);
  margin-left: 10px;
}
.game-box {
  display: grid;
  min-height: 60vh;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--secoundColor, #eee);
  grid-template-rows: repeat(3, 1);
}
.game-box .box:not(.mole) {
  border: 2px solid var(--mainColor, #231942);
}
.highest-box {
  margin-top: var(--mainMargin, 25px);
  display: flex;
  justify-content: space-around;
  padding: var(--mainPadding, 15px);
  color: var(--fontColor, #cfbaf0);
  background-color: #4f466e;
  border-radius: 20px;
}
.levels {
  margin-top: var(--mainMargin, 25px);
  color: var(--fontColor);
}
.levels h4 {
  background-color: rgb(129, 111, 182);
  color: var(--secoundColor);
  width: fit-content;
  margin: 0 auto;
  padding: var(--mainPadding);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.levels ul {
  border-radius: 30px;
  padding: var(--mainPadding);
  display: flex;
  background-color: rgb(129, 111, 182);
  list-style-type: none;
  justify-content: space-around;
}
.levels ul li {
  background-color: var(--secoundColor, #eee);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.levels ul li a {
  color: var(--mainColor);
  text-decoration: none;
}
.levels ul li.active,
.levels ul li:hover {
  background-color: var(--mainColor, #231942);
}
.levels ul li.active a,
.levels ul li:hover a {
  color: var(--secoundColor, #eee);
}
.control {
  margin-top: var(--mainMargin, 25px);
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  background-color: var(--fontColor, #cfbaf0);
  border-radius: 20px;
}
.control button {
  background-color: var(--secoundColor, #eee);
  color: var(--mainColor, #231942);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}
footer {
  margin-top: var(--mainMargin, 25px);
  padding: var(--mainPadding, 15px);
  background-color: #eae5f8;
}
footer h4 {
  color: var(--mainColor);
}
footer h4 span {
  color: red;
  margin: 0 5px;
}
/*  */
.border-rainbow,
.mole {
  --angle: 0deg;
  border: 2px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}
.mole {
  cursor: pointer;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
